asgiref
Django
django-cors-headers
django-filter
django-nested-admin
djangorestframework
djangorestframework-simplejwt
dnspython
email_validator
gunicorn
idna
jmespath
pillow
psycopg2-binary
PyJWT
python-dateutil
PyYAML
requests
six
sqlparse
typing_extensions
urllib3
pip-tools
celery
redis
boto3
python-dotenv
whitenoise
django-redis
django-admin-list-filter-dropdown
pandas
openpyxl
django-debug-toolbar
unidecode
openai
pytesseract