<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ödeme Onayı</title>
</head>
<body style="background-color: #FFFFFF; color: #000000; font-family: 'Raleway', Arial, sans-serif; margin: 0; font-size: 18px; padding: 0;">
    <div style="width: 100%; background-color: #FFFFFF; padding: 10px; margin-bottom: 40px; box-sizing: border-box; text-align: center;">
        <table style="margin: 0 auto; max-width: 600px;">
            <tr>
                <td style="text-align: center;">
                    <img src="https://sinav-sorulari-merkezi.fra1.cdn.digitaloceanspaces.com/static/sinav-sorulari-merkezi-logo.png" alt="Sinav Sorulari Merkezi Logo" style="width: 80px; margin-right: 10px; padding: 10px;">
                </td>
                <td style="text-align: center;">
                    <span style="white-space: nowrap; color: #004CFF; font-weight: 600; font-size: 25px;">Sınav Soruları Merkezi</span>
                </td>
            </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: center; border-bottom: 0.6px solid #000000; width: 60%; margin: 0 auto;">
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" cellspacing="0" cellpadding="0" style="max-width: 800px; margin: auto; background-color: #207DD1; border-radius: 55px; padding: 20px; text-align: center;">
        <tr>
            <td style="font-size: 35px; color: #FFFFFF; padding: 20px;">
                Yeni Ödeme
            </td>
        </tr>
        <tr>
            <td style="background-color: #FFFFFF; color: #000000; padding: 20px; text-align: left; border-radius: 24px; box-shadow: 0px 0px 34.78px 0px #00000063;"">
                <p><strong style="color: #004CFF;">Müşteri Bilgileri:</strong></p>
                <p style="color: #004CFF;"><strong>Adı:</strong> <span style="color: #000000;">{{ payment.user.name }}</span></p>
                <p style="color: #004CFF;"><strong>Email:</strong> <span style="background-color: #207DD1; color: #FFFFFF; padding: 2px 4px; border-radius: 4px;">{{ payment.user.email }}</span></p>
                <p style="color: #004CFF;"><strong>Telefon:</strong> <span style="color: #000000;">{{ payment.user.phone_number }}</span></p>
                <p><strong style="color: #004CFF;">Ödeme Tarihi:</strong> <span style="color: #000000;">{{ payment.created_at|date:"d/m/Y H:i" }}</span></p>
                <p><strong style="color: #004CFF;">Ödeme Planı:</strong> <span style="color: #000000;">{{ payment.payment_plan.days }}</span> günlük plan - <span style="color: #000000;">{{ payment.payment_plan.description }}</span></p>
                <p><strong style="color: #004CFF;">İndirim:</strong> <span style="color: #000000;">{{ payment.payment_plan.discount|default_if_none:"0" }} TL</span></p>
                <p><strong style="color: #004CFF;">Son Ödeme Miktarı:</strong> <span style="color: #000000;">{{ payment.total_payment_amount }}</span> <span style="color: #000000;">{{ payment.currency }}</span></p>
                <p><strong style="color: #004CFF;">Yeni Lisans Bitiş Tarihi:</strong> <span style="color: #000000;">{{ payment.subscription_end_date_after_payment|date:"d/m/Y H:i" }}</span></p>
                <p><strong style="color: #004CFF;">Kullanıcı Toplam Ödeme Sayısı:</strong> <span style="color: #000000;">{{ payment_count }}</span></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px;">
                <a href="https://api.sinavsorularimerkezi.com/admin-yonetim/paytr/payment/{{payment.id}}/" target="_blank" style="color: #FFFFFF; font-weight: bold; text-decoration: none; background-color: #004CFF; padding: 10px 20px; border-radius: 5px;">Admin Panelde Görüntüle</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px;">
                <a href="https://www.paytr.com/magaza/islemler?payment_type=&begin_date=&end_date=&page=1&merchant_oid=&email={{ payment.user.email }}" target="_blank" style="color: #FFFFFF; font-weight: bold; text-decoration: none; background-color: #004CFF; padding: 10px 20px; border-radius: 5px;">PayTR Kullanıcı İşlemleri</a>
            </td>
        </tr>
        <tr>
            <td style="font-size: 20px; color: #FFFFFF; text-align: center; padding: 10px; padding-top: 30px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" style="padding-left: 100px; padding-right: 0; padding-top: 0; padding-bottom: 0;">
                            <img src="https://sinav-sorulari-merkezi.fra1.cdn.digitaloceanspaces.com/static/sinav-sorulari-merkezi-logo.png" alt="Sinav Sorulari Merkezi Logo" style="width: 80px; height: 80px; display: block;">
                        </td>
                        <td align="center" style="padding-right: 0; padding-top: 0; padding-bottom: 0;">
                            <span style="font-size: 18px; color: #FFFFFF; font-weight: bold;">Teşekkürler, <br> Sınav Soruları Merkezi</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="width: 100%; color: #004CFF; background-color: #FFFFFF; padding: 10px; font-size: 11px; text-align: center; box-sizing: border-box; margin-top: 40px; position: relative;">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td style="text-align: center; border-top: 0.6px solid #000000; width: 60%; margin: 0 auto;">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
